
{% extends 'home/base.html' %}
{% block content %}
	
	<h2>List of Item</h2>
	<div>
		{% for item in items %}
			<ul>
				<li><a href="{% url 'detail-item' item.id %}">{{ item.product_name}}</a></li>
			</ul>
		{% endfor %}
	</div>
	<a href="{% url 'new-item' %}">Create New Item</a>


	<div><form method="get" action="{% url 'compare' %}">
		<label for="items">Select a product name:</label>
		<select  type="search" id="item_1" name = 'item_1' form="itemform">
  			{% for item in items %}
  				<option>{{ item.product_name }}</option>
  			{% endfor %}
		</select>
		<label for="items">Select another product name:</label>
		<select type="search" name="item_2" id="item_2" form="itemform">
  			{% for item in items %}
  				<option>{{ item.product_name }}</option>
  			{% endfor %}
		</select>
		<button type="submit">Compare product</button></form>
	</div>
{% endblock %}